{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row"> 
      <div class="col-12">
        <p>Trabalho da disciplina IMD0902-INTRODUÇÃO A INTERNET DAS COISAS-T01(2021.1), com objetivo de ler sensores de um <a href="https://thingspeak.com/channels/196384" target="_blank">canal do Thingspeak</a> e mostrá-lo em um template gratuito do Django através de gráficos. Por <a href="https://arnaldosouza.com">Arnaldo Souza</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="outdoorTemp"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">[Field 1] Outdoor Temperature (DS18B20)</h4>
            <p class="card-category">
              Outdoor temperature of sensor DS18B20.</p>
              <div>
                <span>Média no período:</span><strong id="field1_avg">71</strong><br>
                <span>Variação no período:</span><strong id="field1_var">21</strong>
              </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Última atualização em <span id="last_update_field1"></span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-6">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="temperature"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Temperature (Si7021)</h4>
            <p class="card-category">Temperature of sensor Si7021</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> A few minutes ago
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="temperature"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Temperature (Si7021)</h4>
            <p class="card-category">Temperature of sensor Si7021</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> A few minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
